body {
  background-color: #71a394;
}
header {
  padding: 50px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #header {
    display: none;
  }
  p {
    font-size: 3vw;
  }
  li {
    font-size: 3vw;
  }
}

h1 {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-family: "Bree Serif", serif;
}
h2 {
  width: 100%;
  font-size: 3vw;
  text-align: center;
  font-family: "Bree Serif", serif;
}

.container {
  margin: 20px;
  overflow: auto;
  padding: 100;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #888888;
}
#main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
  margin: 10px;
  font-weight: bolder;
}
li:hover {
  color: #71a394;
  text-decoration-line: underline;
  text-decoration-color: #71a394;
}
li:first-letter {
  font-family: Georgia;
  font-size: 25px;
}

#details {
  padding: 10px;
  border-radius: 5px;
}
#description {
  font-family: Georgia, "Times New Roman", Times, serif;
}

img {
  width: 100%;
  border-radius: 10px;
}
